cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
fastparquet==2024.5.0
google-api-core==2.22.0
google-auth==2.27.0
google-cloud-access-context-manager==0.2.1
google-cloud-asset==3.27.0
google-cloud-monitoring==2.23.0
google-cloud-org-policy==1.11.1
google-cloud-os-config==1.18.0
googleapis-common-protos==1.65.0
grpc-google-iam-v1==0.13.1
grpcio==1.62.3
grpcio-status==1.62.3
idna==3.10
numpy==1.26.4
pandas==2.2.2
proto-plus==1.25.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
python-dateutil==2.9.0.post0
pyarrow==19.0.0
pytz==2024.2
requests==2.32.4
rsa==4.9
six==1.16.0
tzdata==2024.2
urllib3==2.2.3
aiohttp>=3.8.0
asyncio==3.4.3
google_cloud_bigquery==3.29.0